/*!
Theme Name: Limestone
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: limestone
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Limestone is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import url("//fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900");
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Custom vars & mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Titillium Web", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.618em;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.618em;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
  color: royalblue;
}
a:visited {
  color: purple;
}
a:hover, a:focus, a:active {
  color: midnightblue;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

.theme-button a {
  color: white !important;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Titillium Web';
  background-image: initial;
  background-attachment: initial;
  background-color: black !important;
  background-size: initial;
  background-origin: initial;
  background-clip: initial;
  background-position: initial;
  background-repeat: initial;
  font-size: 1.385em;
  background: #fff;
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
  padding: .5em 1em;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  border-radius: 3px;
  -webkit-font-smoothing: inherit;
  text-decoration: none;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  border-color: #e9e9e9;
  height: 45px;
  background-color: #e9e9e9;
  box-shadow: inset 0 3px 5px rgba(84, 84, 84, 0.2), 0 1px 3px rgba(84, 84, 84, 0.2);
  width: 100%;
}
.main-navigation #primary-menu {
  width: 100%;
}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 71.00533rem;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 99999;
  background-color: #28a9e0;
  width: 100%;
  display: none;
  -webkit-transition: 0.2s all ease-in-out;
          transition: 0.2s all ease-in-out;
}
.main-navigation ul ul li:hover > ul {
  left: 100%;
}
.main-navigation ul ul a {
  padding: 1.618rem 1.618rem;
  border-right: none;
  color: #fff;
  font-weight: 400;
}
.main-navigation ul a {
  padding: 0.6rem 2.61792rem;
  border-right: 4px solid #fff;
  margin-top: 2px;
  text-transform: uppercase;
  margin-left: -4px;
  color: #727272;
  font-weight: 600;
  -webkit-transition: 0.2s all ease-in-out;
          transition: 0.2s all ease-in-out;
}
.main-navigation ul a:hover {
  color: #ffffff;
  background-color: #28a9e0;
  -webkit-transition: 0.2s all ease-in-out;
          transition: 0.2s all ease-in-out;
}
.main-navigation li {
  position: initial;
  display: inline-block;
}
.main-navigation li:hover > .sub-menu {
  display: block;
  -webkit-transition: 0.2s all ease-in-out;
          transition: 0.2s all ease-in-out;
}
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle {
  display: none;
}

@media screen and (max-width: 71.00533rem) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  .main-navigation ul {
    display: none;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #211d1c;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Custom Styles
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

blockquote {
  font-size: 1.25rem;
}

ul, ol {
  padding: 0;
  margin: 0 0 1.618em 1.618em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  line-height: 1.313em;
  font-weight: 300;
}

h1 {
  font-size: 3em;
  margin: 0.563em 0;
}

h2 {
  font-size: 2.25em;
  margin: 0.625em 0;
}

h3 {
  font-size: 1.5em;
  margin: 1.313em 0;
}

h4 {
  font-size: 1.313em;
  margin: 1.313em 0;
}

h5 {
  font-size: 1.125em;
  margin: 1.313em 0;
}

h6 {
  font-size: 1em;
  margin: 0.75em 0;
}

.widget-title {
  font-size: 1.313em;
}

.site-header {
  background: #fff;
}

.hentry, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation {
  background: #fff;
}

.widget {
  background: #fff;
}

.site-footer {
  background: #fff;
}

.content-area {
  float: left;
  margin: 0 -30% 0 0;
  width: 100%;
}

.site-main {
  margin: 0 30% 0 0;
}

.home .site-main {
  margin: 0;
}

.site-content .widget-area {
  float: right;
  overflow: hidden;
  width: 30%;
}

.site-footer {
  clear: both;
  width: 100%;
}

.site {
  padding-top: 0;
}

.dark * {
  color: #fff;
}

#top-bar {
  max-width: 71.00533rem;
  margin: 0 auto;
}

#top-bar-content {
  float: right;
}

.site-header {
  max-width: none;
  margin: 0.809rem auto 0 auto;
}

#top-bar-wrap {
  background-color: #211d1c;
  border-color: #211d1c;
  color: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
  font-size: 0.923em;
}

.menu-main-limestone-container {
  text-align: center;
}

#top-bar {
  position: relative;
  min-height: 40px;
  padding: 7px 0;
}

.site-branding {
  padding-top: 1.618rem;
  padding-bottom: 1.618rem;
  font-size: 0.5em;
  float: left;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.site-title {
  font-weight: 700;
}

.site-title, .site-description {
  margin: 0;
  line-height: 1em;
  display: inline-block;
  vertical-align: bottom;
}

.site-description {
  margin-left: 0.5em;
  font-style: italic;
}

.site-content {
  max-width: 100%;
  margin: 0 auto;
}

/*.home #primary {
	width:100%
}
*/
.home #secondary, .home .entry-header {
  display: none;
}
.home .hentry {
  padding-top: 0;
}
.home .entry-content {
  margin-top: 0;
}

.hentry, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation {
  padding-left: 4.2358rem;
  padding-right: 4.2358rem;
  padding-top: 2.61792rem;
  padding-bottom: 2.61792rem;
  margin: 0 0 1.618rem 0;
}

.page-header .page-title {
  text-align: center;
}

.entry-content a img {
  vertical-align: bottom;
}

.entry-header {
  text-align: center;
}

.entry-title {
  margin-top: 0;
  margin-bottom: 2.61792rem;
}

.entry-meta {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 0.8em 1.2em;
  margin-bottom: 1.618rem;
}

.entry-footer {
  text-align: center;
  margin: 2.61792rem 0 1.618rem 0;
  line-height: 3em;
}
.entry-footer span {
  margin: 0 0.618em;
  padding: 0 0.618em;
  display: inline-block;
}

.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-list .comment {
  padding: 1.618rem;
}

.widget {
  padding-left: 2.61792rem;
  padding-right: 2.61792rem;
  padding-top: 2.61792rem;
  padding-bottom: 2.61792rem;
  margin-left: 1.618rem;
  margin-bottom: 1.618rem;
}

.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget ul li {
  padding: 1em 0 1em 2em;
}
.widget ul li.page_item_has_children, .widget ul li.menu-item-has-children {
  padding-bottom: 0;
  border: none;
}
.widget ul li li li li {
  padding-left: 0;
}
.widget ul .children li:first-of-type, .widget ul .sub-menu li:first-of-type {
  margin-top: 1em;
}

input.search-field {
  box-sizing: border-box;
  width: 100%;
}

.site-footer {
  padding-top: 1.618em;
  padding-bottom: 1.618em;
  max-width: 71.00533rem;
  margin: 0 auto;
}

.menu-toggle {
  float: right;
  margin: 1.618rem;
}

@media (max-width: 71.00533rem) {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.313em;
    font-weight: 300;
  }

  h1 {
    font-size: 2.7em;
    margin: 0.563em 0;
  }

  h2 {
    font-size: 2.025em;
    margin: 0.625em 0;
  }

  h3 {
    font-size: 1.35em;
    margin: 1.313em 0;
  }

  h4 {
    font-size: 1.1817em;
    margin: 1.313em 0;
  }

  h5 {
    font-size: 1.0125em;
    margin: 1.313em 0;
  }

  h6 {
    font-size: 1em;
    margin: 0.75em 0;
  }

  .widget-title {
    font-size: 1.1817em;
  }

  .hentry, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation {
    padding-left: 2.61792rem;
    padding-right: 2.61792rem;
    padding-top: 1.618rem;
    padding-bottom: 1.618rem;
  }

  .entry-title {
    margin-bottom: 1.618rem;
  }

  .site-footer {
    padding: 1.618em;
  }
}
@media (max-width: 56.25rem) {
  .content-area {
    float: none;
    margin: 0;
    width: 100%;
  }

  .site-main {
    margin: 0;
  }

  .site-content .widget-area {
    float: none;
    overflow: hidden;
    width: 100%;
  }

  .widget {
    margin-left: 0;
    margin-bottom: 1.618rem;
  }
}
@media (max-width: 37.5rem) {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.313em;
    font-weight: 300;
  }

  h1 {
    font-size: 2.4em;
    margin: 0.563em 0;
  }

  h2 {
    font-size: 1.8em;
    margin: 0.625em 0;
  }

  h3 {
    font-size: 1.2em;
    margin: 1.313em 0;
  }

  h4 {
    font-size: 1.0504em;
    margin: 1.313em 0;
  }

  h5 {
    font-size: 1em;
    margin: 1.313em 0;
  }

  h6 {
    font-size: 1em;
    margin: 0.75em 0;
  }

  .widget-title {
    font-size: 1.0504em;
  }
}
@media (max-width: 25rem) {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.313em;
    font-weight: 300;
  }

  h1 {
    font-size: 2.1em;
    margin: 0.563em 0;
  }

  h2 {
    font-size: 1.575em;
    margin: 0.625em 0;
  }

  h3 {
    font-size: 1.05em;
    margin: 1.313em 0;
  }

  h4 {
    font-size: 1em;
    margin: 1.313em 0;
  }

  h5 {
    font-size: 1em;
    margin: 1.313em 0;
  }

  h6 {
    font-size: 1em;
    margin: 0.75em 0;
  }

  .widget-title {
    font-size: 1em;
  }

  .hentry, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation {
    padding-left: 1.618rem;
    padding-right: 1.618rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .entry-title {
    margin-bottom: 1rem;
  }

  .widget {
    padding-left: 1.618rem;
    padding-right: 1.618rem;
    padding-top: 1.618rem;
    padding-bottom: 1.618rem;
  }
}

/*# sourceMappingURL=style.css.map */
