a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.theme-button a{
	color: rgb(255, 255, 255) !important;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Titillium Web';
    background-image: initial;
    background-attachment: initial;
    background-color: rgb(0, 0, 0) !important;
    background-size: initial;
    background-origin: initial;
    background-clip: initial;
    background-position: initial;
    background-repeat: initial;
    font-size: 1.385em;
    background: #fff;
    transition: all 0.25s ease-in-out;
        padding: .5em 1em;
        display: inline-block;
        cursor: pointer;
        font-weight: normal;
            border-radius: 3px;
    -webkit-font-smoothing: inherit;
    text-decoration: none;
}