.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	border-color: $color__background-nav;
    height: 45px;
    background-color: $color__background-nav;
    box-shadow: inset 0 3px 5px rgba(84,84,84,0.2),0 1px 3px rgba(84,84,84,0.2);
    width: 100%;

	#primary-menu {
		width:100%;

	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		width: total_site_width();
	    margin: 0 auto;
	    display: inline-block;
	    position: relative;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
		    top: 45px;
			left: 0;
			z-index: 99999;
			background-color: $color__site-primary;
			width: 100%;
			display:none;
			transition: 0.2s all ease-in-out;

			

			li {
				&:hover > ul {
					left: 100%;
				}


			}

			a {
				padding: $phi * 1rem $phi * 1rem;
				border-right: none;
				color: #fff;
				font-weight:400;

			}

			:hover > a {
			}

			a:hover {
			}
		}

			a {
				padding: 0.6rem $phi * $phi * 1rem;
				border-right: 4px solid #fff;
			    margin-top: 2px;
			    text-transform: uppercase;
			    margin-left: -4px;
			    color: $color__background-color;
			    font-weight: 600;
			    transition: 0.2s all ease-in-out;

				}

			a:hover{
			    color: #ffffff;
			    background-color: #28a9e0;
			    transition: 0.2s all ease-in-out;
		    }
	}
	li {
		position: initial;
		display: inline-block;
		&:hover > .sub-menu {
			display: block;
			transition: 0.2s all ease-in-out;
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}



/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: total_site_width()) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
